
@import '~bootstrap/scss/bootstrap';

* {
  font-weight: lighter;
  letter-spacing: 2px;
}

#message {
  display: flex;
  justify-content: center;
}

button {
  border-width: 0px;
  border-radius: 90px;
}

body {
  font-family: times new roman;
  background-color: #d2b48c;
  text-color: #ebd8bd;
  text-align: center;
  align-items: center;
  margin: 2%;
  letter-spacing: 2px;
  font-size: 14px;
}

div {
  padding: 10px;

  > form {
    padding: 10px;
  }
  }

h1 {
  font-weight: lighter;
  letter-spacing: 4px;
  position: sticky;
}

h2 {
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 3px;
  position: sticky;
}

.authenticated {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.unauthenticated {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.column {
  // display: flex;
  // flex-flow: row nowrap;
  float: left;
  padding: 10px;
  width: 50%;
}

.create-food {
  margin-left: 200px;
  width: 50%;
}

#index-foods {
  margin: 15px;
  margin-bottom: 5px;
  margin-left: 225px;
}

.input {
  border: 2px lighter;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none;
  padding: 8px;
  transition: .5s ease;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.update-food {
  margin-left: 45px;
}

.food-collection {
  background: #ebd8bd;
  border: .1px;
  border-color: #ffffff;
  border-radius: 8px;
  border-style: solid;
  margin: 10px;
  margin-left: 150px;
  padding: 5px;
  position: relative;
  width: 50%;
}
